@mixin device($device) {
  @if ($device == mobile) {
    @media (max-width: 375px) {
      @content
    }
  } 

  @else if ($device == tablet) {
    @media (max-width: 768px) {
      @content
    }
  }

  @else if ($device == desktop) {
    @media (max-width: 1024px) {
      @content
    }
  }
}

div {
  width: 100%;
  @include device(tablet) {
    width: 80%;
  }

  @include device(mobile) {
    width: 60%;
  }
}

@mixin type-1($size) {
  font-family: monospace;

  @if ($size == normal) {
    font-size: 1em;
    font-weight: normal;
  } @else if ($size == large) {
    font-size: 1.25em;
  } @else if ($size == x-large) {
    font-size: 1.5em;
    font-weight: bold;
  }
}

$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if ($tema == oceano) {
  $primary-color: blue;
  $secondary-color: orange; 
} @else if ($tema == deserto) {
  $primary-color: yellow;
  $secondary-color: purple;
}

p {
  color: $primary-color;
  background-color: $secondary-color;
  @include type-1(x-large)
}

@mixin title-large {
  line-height: 1;
  font-size: 4em;
  font-weight: bold;
  font-family: $font-primaria;
}

@mixin border-box {
  box-sizing: border-box;
}

@mixin separador($color: blue, $largura: 100px) {
  &::after {
    content: '';
    display: block;
    width: $largura;
    height: 4px;
    background-color: $color;
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content
  }
}

$cor-primaria: blue;
$font-primaria: monospace;
$gutter: 60px;

section {
  @include border-box;
  max-width: 600px;
  margin: 0px auto;
}

.modal {
  @include box-shadow(10px 10px 0px 0px rgba(0, 0, 0, 0.5), 
                      15px 15px 0px 0px rgba(0, 0, 0, 0.5),
                      20px 20px 0px 0px rgba(0, 0, 0, 0.5));
  h1 {
    color: $cor-primaria;
    margin-bottom: $gutter;
    font-family: $font-primaria;
    @include mobile {
      color: pink;
    }
    @include title-large;
    @include separador(blue, 200px);
  }
  
  p {
    line-height: 1.4;
    max-width: 400px;
    font-family: $font-primaria;
  }
  
  a {
    display: block;
    padding: 10px;
    color: white;
    max-width: 120px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-primaria;
    background-color: $cor-primaria;
  }
}

ul {
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: block;
      padding: 20px;
      color: white;
      text-decoration: none;
      background-color: blue;
      &:hover {
        background-color: pink;
      }
      &:active {
        background-color: red;
      }
    }
  }
}