.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 100vh;
}

.login::before {
  content: '';
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../assets/login.jpg');
}

.forms {
  padding: 1rem;
  max-width: 30rem;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }

  .login::before {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}