.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 100ms;
  border-radius: .2rem;
  background-color: #eee;
  border: 1px solid transparent;
}

.nav a:hover,
.nav button:hover,
.nav a:focus,
.nav button:focus {
  outline: none;
  border-color: #333;
  background-color: white;
  box-shadow: 0 0 0 3px #eee;
}

.nav a:global(.active) {
  border-color: #fb1;
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
}

.mobileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  cursor: pointer;
  transition: 100ms;
  border-radius: .2rem;
  background-color: #eee;
  border: 1px solid transparent;
}

.mobileButton::after {
  content: '';
  display: block;
  height: 2px;
  width: 1.2rem;
  transition: 200ms;
  border-radius: 2px;
  background-color: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  outline: none;
  color: #fb1;
  border-color: #fb1;
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
}

.mobileButtonActive::after {
  width: 4px;
  height: 4px;
  transform: rotate(90deg);
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0px;
  opacity: 0;
  padding: 0 1rem;
  pointer-events: none;
  border-radius: .2rem;
  background-color: white;
  transform: translateX(-10px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navMobileActive {
  opacity: 1;
  transition: 300ms;
  transform: initial;
  pointer-events: initial;
  z-index: 100;
}

.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: .5rem 0;
  background-color: transparent;
  border-bottom: 1px solid #eee;
}

.navMobile button {
  border-bottom: none;
}

.navMobile img {
  margin-right: .5rem;
}