.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container.ativo {
  display: flex;
}

.modal {
  position: relative;
  padding: 40px;
  min-width: 300px;
  border: 10px solid #fb5;
  background-color: white;
  box-shadow: 0px 0px 0px 10px white;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal 300ms forwards;
}

.fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 50%;
  font-family: monospace;
  background-color: #e54;
  border: 4px solid white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.modal label {
  display: block;
  font-weight: bold;
  font-family: monospace;
  margin: 1rem 0px 0.5rem 0px;
}

.modal input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem 0.5rem;
}

.modal button[type="submit"] {
  display: block;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
  border-radius: 4px;
  font-family: monospace;
  padding: 0.7rem 0.2rem;
  background-color: #e54;
}