.galeria {
  grid-column: 1 / -1;
}

.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  margin: 0 20px;
  max-width: 800px;

  opacity: .8;
  transition: .4s;
  overflow: hidden;
  border-radius: 4px;
  transform: scale(.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / -1;
}

.custom-controls li {
  width: 40px;
  margin: 2px;
  height: 40px;
  opacity: 0.8;
  overflow: hidden;
  border-radius: 50%;
  transform: scale(0.8);
  transition: all 300ms;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}