*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}

body {
  margin: 0px;
  color: #333;
  padding-top: 4rem;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  color: #333;
  font-size: 1rem;
  font-family: var(--type-first);
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}

.mainContainer {
  margin-top: 4rem;
}

.title {
  position: relative;
  margin: 1rem 0;
  line-height: 1;
  font-size: 3rem;
  font-family: var(--type-second);
  z-index: 1;
}

.title::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 5px;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .2rem;
  background-color: #fb1;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 300ms forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}