.container {
  overflow: hidden;
}

.content {
  display: flex;
  transition: transform 300ms ease;
}

.item {
  width: 80%;
  margin: 0 10%;
  flex-shrink: 0;
  padding: 10rem 0;
  text-align: center;
  border-radius: 4px;
  background-color: #eee;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}